<div id="<%= dom_id proof_category_swimmer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Competition:</strong>
    <%= proof_category_swimmer.competition_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Proof:</strong>
    <%= proof_category_swimmer.proof_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= proof_category_swimmer.category_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Swimmer:</strong>
    <%= proof_category_swimmer.swimmer_name %>
  </div>
</div>
